@use "../../components/post-list/posts";
@use "../../components/new-post/newpost";
@use "../../components/messages/messages";

.main-content-wrapper {
  width: 100%;
  min-height: 90vh;
  margin: 0 auto 20px auto;
  padding: 20px 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #1f2633;
}

.main-content-loading {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px auto 0 auto;
  font-size: 2rem;
}
