@use "./sidemenu/profile";

header {
  width: 100%;
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #191e29;
  box-sizing: border-box;
  h2 {
    color: #fff;
    font-size: 1.2rem;
  }
}
