.posts-list-wrapper {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  .posts-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    li {
      width: 95%;
      color: #fff;
      background: #2b3547;
      border-radius: 6px;
      box-shadow: 5px 5px 7px #161b24;
      margin-bottom: 40px;
      padding: 25px 10px;
      box-sizing: border-box;
      position: relative;
    }
    .non-picture {
      min-height: 150px;
    }
    .picture {
      min-height: 250px;
    }
  }
}

.upper-post {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 5px;
  margin: 10px 0 20px 0;
  img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .post-author {
    font-size: 0.8rem;
    margin-left: 10px;
    font-weight: 700;
  }
}

.mid-post {
  width: 100%;
  margin-bottom: 25px;
  border-bottom: 1px solid #37435a;
  padding: 0 5px 15px 5px;
  box-sizing: border-box;
  .post-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  .post-text {
    font-size: 0.8rem;
    line-height: 1.7;
  }
}

.lower-post {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  button {
    min-width: 40%;
    padding: 8px 14px;
    border: 0;
    border-radius: 4px;
    font-size: 1.1rem;
    color: #fff;
    background: #fd6048;
    i {
      margin-right: 10px;
    }
  }
}

.post-date {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.7rem;
  font-weight: 700;
  font-style: italic;
  opacity: 0.45;
  &:before {
    content: "Posted: ";
  }
}
